/* ============================
            all
============================ */

* {
  margin: 0;
  padding: 0;
  font-family: "Sudbury Light", "ヒラギノ明朝 ProN";
  font-style: italic;
}

.section-title {
  height: 50px;
  display: inline-block;
  transform: rotate(270deg);
}

.section-title h2 {
  font-size: 50px;
}

.about-wrap,
.skills-wrap,
.works-wrap,
.contact-wrap {
  display: none;
}

/* ============================
            opening
============================ */
.opening {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background: transparent linear-gradient(60deg, #000000 0%, #ffffff 150%) 0% 0% no-repeat padding-box;
}

.opening p {
  font-size: 170px;
  margin: 0 auto;
  color: #ffffff;
}

/* ============================
            header
============================ */
header {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper {
  margin-left: 60px;
  color: #ffffff;
}

.header-name {
  font-size: 40px;
  text-shadow: 1px 2px 3px #808080;
}

.header-job {
  font-size: 30px;
  text-shadow: 1px 2px 3px #808080;
}

.home-button {
 width: 150px;
 height: 30px;
 margin-right: 5vw;
 background: transparent linear-gradient(84deg, #5A79BA 0%, #59BECAD9 100%) 0% 0% no-repeat padding-box;
 border: none;
 color: #ffffff;
 font-size: 20px;
 outline: none;
 display: none;
}

/* ============================
            home
============================ */
.home {
  display: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.home video {
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: 0;
}

.home-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.menu-list button {
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  transition: all 1s ease;
  text-shadow: 1px 2px 3px #808080;
}

.menu-button {
  width: 250px;
  height: 30px;
  position: absolute;
  right: 5vw;
  bottom: 100px;
  z-index: 10;
  background: transparent linear-gradient(84deg, #5A79BA 0%, #59BECAD9 100%) 0% 0% no-repeat padding-box;

}

.hide-button {
  height: 30px;
  position: absolute;
  right: 5vw;
  bottom: 100px;
  opacity: 0;
  background: transparent;
}
/* ============================
            about
============================ */
.about {
  width: 100vw;
  margin-top: 100px;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
}

.about-visual {
  height: calc(100vh - 200px);
}

.about-visual img {
  height: 100%;
}

.about-wrapper {
  height: 50vh;
  padding: 0 100px;
}

.about-wrapper h3 {
  margin-bottom: 50px;
  font-size: 35px;
}

.about-wrapper p {
  font-size: 20px;
  line-height: 40px;
  font-style: normal;
}

.twitter {
  margin-top: 50px;
  display: flex;
}

.twitter a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent linear-gradient(60deg, #5A79BA 0%, #59BECAD9 100%) 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
}

.twitter p {
  margin-left: 10px;
  font-size: initial;
  font-style: italic;
}

/* ============================
            skills
============================ */
.skills {
  width: 100vw;
  height: calc(100vh - 100px);
  padding-top: 100px;
  text-align: center;
  align-items: center;
  display: flex;
}

.skills-list {
  display: flex;
  justify-content: space-around;
}

.skills-list section {
  width: 30%;
}

.skills-list img {
  width: 100%;
}

.skills-list h3 {
  margin: 10px auto;
  font-size: 35px;
}

.skills-list p {
 font-size: 20px;
 font-style: normal;
 line-height: 40px;
}

/* ============================
            works
============================ */
.works {
  width: 100vw;
  height: calc(100vh - 100px);
  padding-top: 100px;
  align-items: center;
  display: flex;
}

.works-list {
  width: calc(100vw - 260px);
  min-width: 1000px;
  height: 100%;
}

.works-display {
  width: 800px;
  height: 503px;
  margin: 20px auto;
  padding: 2px;
  background: transparent linear-gradient(60deg, #5A79BA 0%, #59BECAD9 100%) 0% 0% no-repeat padding-box;
}

.works-display-inner {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works-list ul {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.works-list li {
  display: inline-block;
  width: 15%;
  margin: auto 2%;
  cursor: pointer;
}

.works-list img {
  width: 100%;
}

/* ============================
            contact
============================ */
.contact {
  width: 100vw;
  height: calc(100vh - 100px);
  padding-top: 100px;
  color: #ffffff;
  background: transparent linear-gradient(60deg, #000000 0%, #ffffff 150%) 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
}

.contact form {
  width: calc(100vw - 160px);
  min-width: 1000px;
}

.contact-items {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-items p {
  width: 100px;
  text-align: center;
}

.contact input {
  width: 800px;
  height: 30px;
  padding: 10px;
  border: none;
  font-size: 20px;
  font-style: normal;
}

.contact textarea {
  width: 800px;
  height: 300px;
  padding: 10px;
  border: none;
  font-size: 20px;
  font-style: normal;
  resize: none;
}

.contact-send-button {
  width: calc(100vw - 160px);
  text-align: right;
}

.contact button {
  margin-right: calc((100vw - 160px - 920px) / 2);
  border: none;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
}
