* {
  margin: 0;
  padding: 0;
  font-family: "Sudbury Light", "ヒラギノ明朝 ProN";
  font-style: italic;
}

/* ====== opening ====== */
.opening {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background: transparent linear-gradient(60deg, #5A79BA 0%, #59BECAD9 100%) 0% 0% no-repeat padding-box;
}

.opening p {
  font-size: 170px;
  margin: 0 auto;
  color: #ffffff;
  display: none;
}

/* ====== header ====== */
header {
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper {
  margin-left: 60px;
  color: #ffffff;
}

.header-name {
  font-size: 40px;
}

.header-job {
  font-size: 30px;
}

.home-button {
 width: 150px;
 height: 30px;
 margin-right: 5vw;
 background: transparent linear-gradient(68deg, #F97F6A 0%, #F1BA67D9 100%) 0% 0% no-repeat padding-box;
 border: none;
 color: #ffffff;
 font-size: 20px;
 outline: none;
 display: none;
}

/* ====== home ====== */
.home {
  display: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.home video {
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: 0;
}

.home-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  display: none;
}

.menu-list button {
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  transition: all 1s ease;
}

.menu-button {
  width: 250px;
  height: 30px;
  position: absolute;
  right: 5vw;
  bottom: 100px;
  z-index: 10;
  background: transparent linear-gradient(84deg, #5A79BA 0%, #59BECAD9 100%) 0% 0% no-repeat padding-box;

}

.hide-button {
  height: 30px;
  position: absolute;
  right: 5vw;
  bottom: 100px;
  opacity: 0;
  background: transparent;
}

/* ====== about ====== */
.about {
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  display: none;
  padding-top: 100px;
}

.about-visual {
  width: 25%;
  height: calc(100vh - 200px);
  margin-left: 60px;
}

.about-visual img {
  width: 100%;
}

.about-wrapper {
  width: 75%;
  padding-left: 100px;
}

.about-title {
  display: inline-block;
  border-bottom: 10px dotted #5A79BA;
}

.about-title h2 {
  font-size: 50px;
}

.about-contents {
  margin-top: 50px;
  padding-right: 50px;
}

.about-name {
  margin-bottom: 30px;
}

.about-contents p {
  font-size: 35px;
  line-height: 60px;
}

.twitter {
  margin-top: 30px;
  display: flex;
  align-items: flex-end;
}

.twitter a {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: transparent linear-gradient(60deg, #5A79BA 0%, #59BECAD9 100%) 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
}

.twitter p {
  font-size: 35px;
}

/* ====== skills ====== */
.skills {
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  text-align: center;
  display: none;
}

.skills-title {
  display: inline-block;
  border-bottom: 10px dotted #5A79BA;
}

.skills-title h2 {
  font-size: 50px;
}

.skills-list {
  display: flex;
  justify-content: space-around;
}

.skills-list section {
  width: 30%;
}

.skills-list img {
  width: 100%;
}

.skills-list h3 {
  margin: 10px auto;
  font-size: 35px;
}

.skills-list p {
 font-size: 25px;
 line-height: 45px;
}

/* ====== works ====== */
.works {
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  text-align: center;
  display: none;
}

.works-title {
  display: inline-block;
  border-bottom: 10px dotted #5A79BA;
}

.works-title h2 {
  font-size: 50px;
}

.works-list {
  height: calc(100vh - 160px);
  margin-top: 10px;
  overflow: scroll;
}

.works-list section {
  width: 1000px;
  margin: 0 auto;
  padding: 15px 0;
}

.works-list img {
  width: 100%;
}

/* ====== contact ====== */
.contact {
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  text-align: center;
  color: #ffffff;
  background: transparent linear-gradient(60deg, #5A79BA 0%, #59BECAD9 100%) 0% 0% no-repeat padding-box;
  display: none;
}

.contact-title {
  display: inline-block;
  border-bottom: 10px dotted #ffffff;
}

.contact-title h2 {
  font-size: 50px;
}

.contact form {
  width: 1000px;
  margin: 10px auto;
}

.contact dt {
  width: 200px;
  float: left;
  margin-bottom: 10px;
  margin-left: -100px;
}

.contact dd {
  width: 800px;
  margin-left: 100px;
  margin-bottom: 10px;
}

.contact input {
  width: 800px;
  height: 50px;
}

.contact textarea {
  width: 800px;
  height: 300px;
}

.contact button {
  border: none;
  background-color: transparent;
  font-size: 25px;
  color: #ffffff;
}
